<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  .navbar{
   
    background: #171717;
   
  }
  .nav-link{
    color: white !important;
  
  }
  .navbar .nav-item .nav-link:active{
    color: #e53b44 !important;
  }
  .nav-link.active {
    color: #e53b44 !important;
    /* color: #fc6016 !important; */
}

  .carousel-item img {
    height: 500px; 
    object-fit: cover; 
  }
  .blink {
    animation: blinker 1.5s linear infinite;
    color: rgb(254, 18, 18);
    font-family: sans-serif;
    height: 50%;
    background: transparent;
  }
 @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .container {
  display: flex;
  flex-wrap:wrap;
  margin-top:10px;
  padding:16px; 
  font-size:15px;
  margin-bottom:4px;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(14, 16, 18);
  background-color: white;
  border-radius: 8px;
  border: 5px solid  black;
    /* justify-content: space-between; */
}
  .section {
    width: 300px;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding:16px; 
    margin: 20px;
    background-color: beige;
    color: black;
  }
  .section:hover{
  background-color:  #F44336;
  color: white !important;
  }
  #aidata{
    float: right;
    width: 30%;
    /* align-items: vertical; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}
  #Do{
    float: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
  }
  
  #earthquake , #flood{ 
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;;
    line-height: 1.2;  
  }
  h1{
    margin-bottom: 1.25rem;
    font-weight: 400;
  }
  h2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(var(--black));
    font-weight: 600;
  }
  li{
    line-height: 1.5;
    color: rgb(var(--black));
  }
  img{
    background-size: cover;
image-rendering: -webkit-optimize-contrast;
image-rendering: crisp-edges;
image-rendering: pixelated;
  }
 
</style>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">


<!-- <body>  -->
  <body data-bs-spy="scroll" data-bs-target="#navbarTogglerDemo02" data-bs-offset="100">
   <!-- navbar -->
  <nav class="navbar  sticky-top navbar-expand-lg" >
    
    <div class="container-fluid">
      <!-- <a class="navbar-brand " href="#">
        <img src="./static/ex.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top bg-white text-white">
          <span class="text-white">Alertnexa</span> -->
      <a class="navbar-brand" href="#">
        <img src="./static/exx.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top bg-white">
        <span class="text-white">Alertnexa</span>
        <!-- Bootstrap -->
      </a>
      <button class="navbar-toggler bg-white " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold navbar-nav-scroll">
          <li class="nav-item ">
            <a class="nav-link " aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#data">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#form">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#Drop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#earthquake">Action</a></li>
              <li><a class="dropdown-item" href="#flood">Another action</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>  
      </div>
    </div>
  </nav>

    <!-- marquee -->
  <div class="bg-primary bg-transparent">
    <marquee class="blink"  >
      Emergency helpline no.    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  During an Earthquake ,If you're indoors, stand against a wall near the center of the building, stand in a doorway, or crawl under heavy furniture (a desk or table). Stay away from windows and outside doors.   &nbsp; &nbsp; &nbsp; &nbsp;  If you're outdoors, stay in the open away from power lines or anything that might fall. Stay away from buildings (stuff might fall off the building or the building could fall on you).  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; uring a flood, prioritize safety by moving to higher ground, avoiding floodwaters, and turning off utilities if safe to do so. Evacuate if ordered and heed warnings from authorities. Do not walk, swim, or drive through floodwaters. 

    </marquee>
  </div>

      <!-- carousel -->
  <div class="container-fi1980 " id="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./static/flood.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./static/earth.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./static/earth2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./static/storm.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!-- <span class="sr-only"></span> -->
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <!-- <span class="sr-only"></span>  -->
        </a>
    </div>
  </div>

      

  <!-- data -->
  <div class="container" id="data">
    <div id="aidata">
        <h2>Ai Data</h2>
        enter pincode to get data
    </div>
    <div  id="Do">
         <h2>Some Do's and Don'ts</h2>
         <p>
          Some important Do's and Don'ts during an earthquake include,I will update this
         </p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a velit animi culpa, perspiciatis quae libero corrupti, vero veritatis recusandae, eveniet asperiores voluptatem saepe quibusdam quaerat repellat sed temporibus reprehenderit consequuntur laborum. Illo iure enim necessitatibus tempore sapiente nam cum animi explicabo? In, consectetur vel.
    </div>  
  </div>

  <!-- form -->
  <div class="container" id="form">
    <form >
      <label for="Name" class="col-sm-2 col-form-label">Name</label>
      <input id="Name"  name="text" name="" placeholder="Enter Your Name">
      <br><br>
      <label for="Email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="name@example.com">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <br><br>

           <label for="phone">Phone Number:</label>
           <input type="text" id="phone" name="phone" placeholder="+91" maxlength="13" required>
         
          <br><br>
          <label for="pincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter your area pincode" maxlength="6" pattern="[0-9]{6}" required>
          <div class="form-text">Enter a 6-digit postal code.</div>
          <br><br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
  
  <!-- dropdown -->
  <div class="container" id="Dropdown">
  <div class="container"  id="earthquake">      
    <h2>
      What Should I Do Before, During, and After an <b>Earthquake </b> ?
  </h2>
    <h3>
      What to Do before an Earthquake ?
    </h3>
    <ul>
      <li>Make sure you have a fire extinguisher, first aid kit, a battery-powered radio, a flashlight, and extra batteries at home.</li>
      <li>Learn first aid. </li>
      <li>Learn how to turn off the gas, water, and electricity.         </li>
      <li>Make up a plan of where to meet your family after an earthquake.        </li>
      <li>Fix any defective electrical wiring and leakage in the gas connection to prevent the risk of fire. Also, tightly bolt your house's water heaters and LPG cylinders to the walls.</li>
      <li>Anchor heavy furniture, cupboards, and appliances to the walls or floor and Learn the earthquake plan at your school or workplace</li>
    </ul>
    <h3>
      What to Do During an Earthquake ?
    </h3>
    <ul>
      <li><b>Stay calm!</b>  If you're indoors, stay inside. If you're outside, stay outside.        </li>        
      <li>If you're indoors, stand against a wall near the center of the building, stand in a doorway, or crawl under heavy furniture (a desk or table). Stay away from windows and outside doors. </li>
      <li>If you're outdoors, stay in the open away from power lines or anything that might fall. Stay away from buildings (stuff might fall off the building or the building could fall on you).</li>
      <li>If you're in a car, stop the car and stay inside the car until the earthquake stops.        </li>
      <li>Don't use elevators (they may shut down).</li>
    </ul>
    <h3>
      What to Do After an Earthquake ?
    </h3> 
    <ul>
      <li>Check yourself and others for injuries. Provide first aid for anyone who needs it. </li>
      <li>Be careful around broken glass and debris. Wear boots or sturdy shoes to keep from cutting your feet.</li>
      <li>Turn on the radio. Don't use the phone unless it's an emergency.</li>
      <li>Check water, gas, and electric lines for damage. If any are damaged, shut off the valves. Check for the smell of gas. If you smell it, open all the windows and doors, leave immediately, and report it to the authorities (use someone else's phone).</li>
      <li>Stay away from damaged areas.</li>
      <li>If you're at school or work, follow the emergency plan or the instructions of the person in charge. Expect aftershocks.</li>
    </ul>
       
    </div>
    <div class="container" id="flood">    
          <h2>
            What Should I Do Before, During, and After a <b>Flood </b> ?
        </h2>
          <h3>
            What to Do before a Flood ?
          </h3>
          <ul>
            <li>Build an emergency kit and make a family communications plan.</li>
            <li>Avoid building in a floodplain unless you elevate and reinforce your home.</li>
            <li>Prepare your home for flooding.</li>
            <!-- <li>Consider installing "check valves" to prevent flood water from backing up into the drains of your home.</li> -->
            <li>Make a plan for your household, including your pets, so that you and your family know what to do, where to go, and what you will need to protect yourselves from flooding.</li>
          </ul>
          <h3>
            What to Do During a Flood ?
          </h3>
          <ul>
            <li>Listen to the radio or television for information.</li>
            <li>Follow instructions given by public safety officials.</li>
            <li>onsider postponing outdoor activities.</li>
            <li>If you must evacuate or are traveling during flooding, remember  the phrase “Turn Around, Don’t Drown!” Don’t drive through flooded roads. Cars can be swept away in only two feet of moving water. If your vehicle is trapped in rapidly moving water, stay in the vehicle. If the water is rising inside the vehicle, seek refuge on the roof.</li>
            <!-- <li>Flooding may have caused familiar places to change. Floodwaters often erode roads and walkways. Flood debris may hide animals and broken bottles, and it's also slippery. Avoid walking or driving through it.</li> -->
          </ul>
          <h3>
            What to Do Dfter a Flood?
          </h3>
          <ul>
            <li>Avoid moving water.</li>
            <li>Return home only when authorities indicate it is safe.</li>
            <li>Stay out of any building if it is surrounded by floodwaters.</li>
            <li>Stay away from damaged areas unless your assistance has been specifically requested by police, fire, or relief organization.</li>
            <li>Flooding may have caused familiar places to change. Floodwaters often erode roads and walkways. Flood debris may hide animals and broken bottles, and it's also slippery. Avoid walking or driving through it.</li>
          </ul>
    </div>
  </div>


  <!-- about us -->
  <div class="container">
   
     I am About
  </div>
  
   <!-- footer -->
  <footer class="text-center text-white" style="background-color: #3f51b5">
     
        <div class="row text-center d-flex justify-content-center pt-5">
         
          <div class="col-md-2">
            <h6 class="text-uppercase ">
              <a href="#home" class="text-white text-decoration-none">Home</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#data" class="text-white text-decoration-none">Data</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#form" class="text-white text-decoration-none">Login</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#Dropdown" class="text-white text-decoration-none">Dropdown</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#about" class="text-white text-decoration-none">About US </a>
            </h6>
          </div>
        </div>
      

      <hr class="my-5" />

      <!-- <section class="mb-5"> -->
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat voluptatibus placeat nam,
              commodi optio pariatur est quia magnam eum harum corrupti
              dicta, aliquam sequi voluptate quas.
            </p>
          </div>
        </div>
      <!-- </section> -->
    <!-- </div> -->

    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
  </footer> 
  


</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
  
  // to validate phone no
  const phoneInput = document.getElementById('phone');

  // Pre-fill with '+91'
  phoneInput.value = '+91';

  phoneInput.addEventListener('input', (event) => {
    // Ensure the input starts with '+91'
    if (!phoneInput.value.startsWith('+91')) {
      phoneInput.value = '+91';
    }

    // Limit the length to '+91' followed by 10 digits (total 13 characters)
    if (phoneInput.value.length > 13) {
      phoneInput.value = phoneInput.value.slice(0, 13);
    }
  });



</script>  
</html>