/* .carousel-item img {
    height: 500px; 
    object-fit: cover; 
  }
  .blink {
    animation: blinker 1.5s linear infinite;
    color: rgb(254, 18, 18);
    font-family: sans-serif;
    height: 50%;
  }
 @keyframes blinker {
    50% {
      opacity: 0;
    }
  } */